# 조건문

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if False:
    print('hello')

In [ ]:
if(True): # 이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
if 10:
    print('hello')

hello

In [ ]:
# F
''
[]
0
set()
None


# T
1
-1
' '
[10, 20]

[10, 20]

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

# 조건문 if

In [ ]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('hello')

hello

In [ ]:
def f():
    return True

def ff():
    return 'hello'

if f()and ff():
    print('hello')

hello

In [ ]:
# 성능에 영향을 끼칩니다.
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff():
    print('hello')

hello

In [ ]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(10)

'짝수'

In [ ]:
assert x > 0, 'x must be positive'

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 핳더라도 실행이 같지 않고
# 또 성능이 안좋습니다.
#성능이 왜 안좋나요?
# if 뒤를 다 검사해야 하기 때문에 그렇습니다.
# 적절하게 묶는 것은 매우 중요한 포인트입니다.

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 간략해진 것 맞나요?
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.1 #변경
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if 구독중인ott():
                print('영화시청')

In [ ]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

### match
3.1버전부터 추가되었다.

In [ ]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

Hello

In [ ]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
    case 'World':
        print('World')
    case _:
        print('No Match')

IndentationError: ignored

In [ ]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

# 반복문 for, while

## for

In [ ]:
for x in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은{x} 입니다.')

In [ ]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k} : {v}')

In [ ]:
for k in d:
    # print(k + ':', d[k])
    print(k, ': ', d[k], sep='', end=', ')

In [ ]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
result

# 1부터 100까지 더하는 코드
# 권장하지 않는 코드
result = 0
for i in range(101):
    if i % 2 == 0:
        result += i

# 권장하는 코드(물론, 수학수식을 사용할 수 있으면 더 있습니다.)
# 순회도 반만 돌았고, if문도 없습니다.
result = 0
for i in range(0, 101, 2):
        result += i

result

In [ ]:
# 중첩 for를 조금 어렵게 표현
for i in [range(3), range(5), range(7)]:
    for j in i:
        print(j)

In [ ]:
# 만약 문제를 낸다면, 홀수들에 특이한 덧셈을 하고 싶습니다.
# 예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3이하의 수 + 5이하의 수..
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5이렇게 답이 나와야 합니다.

result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
result

In [ ]:
# 구구단 출력
for i in range(2, 10):
    for j in range(1, 10):
        print(i, j, i*j)

In [ ]:
# __iter__ 이 메직메서드가 없다? for문이 안된다! 순회가능한 객체가 아니다.
# 있다? for문이 된다! 순회가능한 객체이다!

In [ ]:
# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

In [ ]:
print(next(x))

In [ ]:
print(next(x))

In [ ]:
# 더 만들지 않고 여기서만 실행애보겠습니다.
print(next(x))

In [ ]:
x = 'hello'
y = x.__iter__() # iter('hello')

In [ ]:
next(y)

In [ ]:
x = 'hello'
y = x.__iter__() # iter('hello')

In [ ]:
print(y.__next__()) # h
print(y.__next__()) # e
print(y.__next__()) # l
print(y.__next__()) # l
print(y.__next__()) # o
print(y.__next__()) # error

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

In [ ]:
# 실행시키면 런타임 다시 시작해야 합니다.
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

## while

In [ ]:
# while True :
#     print('무한 반복 중...')

In [ ]:
#
#
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더에 폴더와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

In [ ]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    userinput = int(input('숫자를 입력해주세요.'))
    if userinput > answer:
        print('Down')

    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

In [ ]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
s

In [ ]:
i = 2
j = 1
while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    i += 1

In [ ]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        continue
    x += 1

In [ ]:
# break은 바로 위에 부모만 탈출합니다.
# continue는 아래코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 애러가 나지 않게만 합니다.
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

### 왈러스(Walrus, :=)연산자

In [ ]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
else:
    print('정상 종료')

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
    if i == 3:
        break
else:
    print('정상 종료')

In [ ]:
x = 1
while x < 10:
    print(x)
    x += 1
else:
    print('정상 종료')

In [ ]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상 종료')

In [ ]:
[
  {
    "_id": "7f4ea48a-5771-45b9-Ce08-b605b53eea93",
    "index": "1",
    "name": "마진욱",
    "email": "user-mwv5wa5@Arcu.net",
    "phone": "010-8234-1204",
    "country": "팔레스타인",
    "address": "망우로 88-7",
    "job": "자연과학연구원",
    "age": "23"
  },
  {
    "_id": "da351756-ea2f-49da-Ce5c-3160fdfb88d2",
    "index": "2",
    "name": "라리온",
    "email": "user-5ws3ok8@Elementum.com",
    "phone": "010-6783-8113",
    "country": "허드 및 맥도널드 제도",
    "address": "강서로 94-8",
    "job": "화학연구원",
    "age": "27"
  },
  {
    "_id": "34e75ce0-68bb-42ca-Ab6e-005f66842504",
    "index": "3",
    "name": "운리우",
    "email": "user-x6gvpfz@integer.co.kr",
    "phone": "010-4659-8085",
    "country": "카보베르데",
    "address": "청계천로 61-4",
    "job": "생물학연구원",
    "age": "40"
  },
  {
    "_id": "b16cf21e-c574-47ce-A664-8944667aeaa4",
    "index": "4",
    "name": "배민형",
    "email": "user-5wphx9f@There.biz",
    "phone": "010-8726-4289",
    "country": "엘살바도르",
    "address": "남부순환로 48-5",
    "job": "미용사",
    "age": "49"
  },
  {
    "_id": "b268b191-9ccb-4fc1-C063-be18c7585b81",
    "index": "5",
    "name": "한석민",
    "email": "user-ayzzzs9@Aenean.io",
    "phone": "010-8383-7062",
    "country": "괌",
    "address": "한강대로 90-9",
    "job": "광고기획자",
    "age": "43"
  }
]

# 클래스

In [ ]:
class Car: # 차에 설계 도면 또는 차 공장입니다. => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

# 테슬라 공장에서 막 찍혀져 나온 자동차!
# 3대! modelx, y, s! => 인스턴스
modelx = Car() # 인스턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed # modelx에 속도를 보고 싶으면 modelx.max_speed를 찍어야 합니다.
# models를 제가 구매했습니다.

print(models.car_gear[1])
models.start()
models.stop()

In [ ]:
l = [1, 2, 3]
type(l)
dir(l)
l.append(3) # 이 모습!?
l

In [ ]:
# int, float, str과 같은 새로운 Car는 type을 만들고 있는 것입니다.

In [ ]:
x = int(3)
# 그럼 x는 무엇일까요?
# int라는 class에 인스턴스

In [ ]:
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name): # 클래스로 인스턴스를 만들 때 호출!
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3dl __init__메직메서드에서 처리
modelx.name

'Tesla Model X'

In [ ]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironmane = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)
# 여러 등장인물을 이런식으로 코딩할 수 있습니다.

In [ ]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self,name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

In [ ]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [ ]:
modelx.hello = 'hello world'

In [ ]:
modelx.hello

'hello world'

In [ ]:
def hello():
    print('hello world')

print(type(hello))

<class 'function'>

In [ ]:
hello.hi = 'hi, world'

In [ ]:
hello.hi

'hi, world'

In [ ]:
# s = 10
# s = 'hello'
# s = [10, 20, 30]
# s = {'one':1}
s.hi = 'hi, world'
s.hi

In [ ]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point((self.x + other.x), (self.y + other.y))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + dot2
dot3.x, dot3.y
dot3.distance(dot1)

36.05551275463989

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 + m2

[30, 50, 70]

In [ ]:
# 단순화 시키긴 했으나 실제 아래와 같이 만듭니다.

class 게시물설계도:
    id = int()
    title = str()
    contents= str()
    author= str()
    create_time= str()
    update_time= str()
    view_count= int()
    last_connect_location= str()
    last_connect_time= str()

게시물1 = 게시물설계도()
게시물2 = 게시물설계도()

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
       # raise TypeError('int형 외에 곱을 허락하지 않습니다!')


m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 * 3
m1 * [1, 2, 3] # TypeError: int형 외에 곱을 허락하지 않습니다!

In [ ]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

modelx = Car()
modely = Car()

modely.max_speed = 500

print(Car.max_speed) # 출력: 300
print(modelx.max_speed) # 출력: 300
print(modely.max_speed) #출력: 500(인스턴스 변수를 출력한 것입니다.)

print(id(Car.max_speed))
print(id(modelx.max_speed))
print(id(modely.max_speed))

300
300
500
136038870882608
136038870882608
136038870882576

In [ ]:
class Car:
    kinds = []
    speed = 300

    def add_kinds(self, name):
        self.kinds.append(name)

    def change_speed(self, speed):
        self.speed = speed

modelx = Car()
modely = Car()

modelx.add_kinds('x')
modely.add_kinds('y')

Car.speed = 100

# modelx.change_speed(500)
# modely.change_speed(250)

print(f'modelx.kinds: {modelx.kinds}')
print(f'modely.kinds: {modely.kinds}')
print(f'modelx.speed: {modelx.speed}')
print(f'modely.speed: {modely.speed}')

modelx.kinds: ['x', 'y']
modely.kinds: ['x', 'y']
modelx.speed: 100
modely.speed: 100

In [ ]:
class Car:
    kinds = []
    speed = 300

    def add_kinds(self, name):
        self.kinds.append(name)

    def change_speed(self, speed):
        self.speed = speed

modelx = Car()
modely = Car()

# Car.speed = 100

modelx.change_speed(500)
modely.change_speed(250)

print(f'modelx.speed: {modelx.speed}')
print(f'modely.speed: {modely.speed}')

modelx.speed: 500
modely.speed: 250

In [ ]:
x = 100
def test():
    print(x) # 내 메모리 영역에 x가 없네? 그러면 찾아 올라갑니다.

test()

100

In [ ]:
x = 100
def test():
    x = 200 # 값을 읽어올 수 있지만 변경은 안됩니다!
    # x는 전역변수는 건드리지 않고 지역변수 200을 선언했을 뿐입니다.

test()
x

100

## 매직 메서드

In [ ]:
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        if isinstance(other, Point):
            return Point((self.x + other.x), (self.y + other.y))
        elif isinstance(other, int) or isinstance(other, float):
            return Point((self.x + other), (self.y + other))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + 10
print(dot1.x, dot1.y) # 출력: 10 20
print(dot3.x, dot3.y) # 출력: 20 30

dot4 = dot1 + dot2
print(dot4.x, dot4.y) # 출력: 30 50
print(dot4.distance(dot1)) # 출력: 36.05551275463989

10 20
20 30
30 50
36.05551275463989

In [ ]:
class Counter:
    def __init__(self):
        self.num = 0

    def __len__(self):
        return 100000

    def __call__(self):
        return 'hello'

    def __getitem__(self, key):
        return key*10

    def __str__(self):
        return 'hello'

    def __repr__(self):
        return 'world'

c = Counter()
len(c)
c()
c[10]
print(c) # print(str(c)) #__str__
c # __repr__

hello

# 연습문제

## match

In [ ]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

# 물리공격, # 마법공격, # 정신공격

# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격  '100의 데미지 입혔습니다.'
# 정신공격: '100마이크로세컨드 만큼 몹이 혼란을 느낍니다.'


def attack(attack_type):

    match attack_type:
        case '물리공격':
            print('100의 데미지 입혔습니다.')

        case '마법공격':
            print('100의 데미지 입혔습니다.')

        case '정신공격':
            print('100 마이크로세컨드 만큼 몹이 혼란을 느낍니다.')


attack('물리공격')
attack('마법공격')
attack('정신공격')

## for

In [ ]:
# for는 중첩 2번 해야 합니다.
# 다음과 같은 문자열이 있습니다
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.
s = '135678'

for i in s:
    i = int(i)
    for j in range(1, 10):
        print(i, 'x', j, '=', i*j)


# for i in s:
#     for j in range(1, 10):
#         print(i, 'x', j, '=', int(i)*j)

In [ ]:
# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''
s = [2, 3, 6]

for i in s:
    for j in s:
        j += 1
        print(i, 'x', j, '=', i*j)

# l = [2, 3, 6]
# for i in l:
#     for j in l:
#         print(f'{i} X {j + 1} = {i*(j+1)}')

## json 형식 데이터 연산 문제

In [ ]:
[
  '{{repeat(5)}}',
  {
    _id: '{{objectId()}}',
    age: '{{integer(20, 40)}}',
    eyeColor: '{{random("blue", "brown", "green")}}',
    name: '{{firstName()}} {{surname()}}',
    gender: '{{gender()}}'
  }
]

In [ ]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

In [ ]:
data[0]
# 문제 1번: 평균 나이를 출력해주세요.
# 문제 2번: 남녀 성비를 출력해주세요.

{'_id': 'fd7e9a0f-e77b-436a-B781-119b66033d49',
 'index': '1',
 'name': '나주헌',
 'email': 'user-tzctc1q@suspendisse.org',
 'phone': '010-5547-5841',
 'country': '과테말라',
 'address': '광나루로 99-2',
 'job': '유치원교사',
 'gender': '여성',
 'age': '43'}

In [ ]:
# 문제 1번: 평균 나이를 출력해주세요.
Age = 0
all = 0
for i in data:
    Age += int(i['age'])
    all += 1
print(Age / all)

37.2

In [ ]:
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['age'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.

In [ ]:
ages = list(ages)
ages

In [ ]:
sum(ages) / len(ages)

In [ ]:
a = map(int, ['1', '2'])
# list(a)
a = list(a)
a

In [ ]:
s = 'abcd'
s = iter(s)
next(s)

In [ ]:
# 문제 2번: 남녀 성비를 출력해주세요.
man = 0
all = 0
for i in data:
    if i['gender'] == "남성":
        man += 1
    all += 1
print(f'{man} : {all-man}')

In [ ]:
gender = list(map(lambda x:x['gender'], data))
gender

['여성', '남성', '남성', '여성', '여성']

In [ ]:

total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100