# 연산과 구문

# 연산자

#산술연산

In [ ]:
{'one':1} + {'two':2} # error
{5} + {6} # error

In [ ]:
7 - 4 # 결과: 3

3

In [ ]:
7 -- 4 # 결과: 11

11

In [ ]:
7 --- 4 # 결과: 3

3

In [ ]:
7 ---- 4

11

In [ ]:
-2 ** 2 # 주의 매우주의! -는 나중에 붙는다.

-4

In [ ]:
a = 10
b = 2
print(a / b) # 결과 5.0 실수출력
print(a // b) # 결과 5  정수출력

5.0
5

In [ ]:
# python 은 몫이 아닙니다.
# //은 내림입니다.
a = -2
b = 5
b // a

-3

In [ ]:
10 / 0 # ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
10.123 // 1

10.0

In [ ]:
-10.123 // 1

-11.0

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [ ]:
10 % 2 == 0 # 홀수, 짝수 판별
365 % 10 == 0 # 1의 자리 반환

False

In [ ]:
10 % 3.3

0.10000000000000053

In [ ]:
(100 % 33) / 10 # 소숫점 1자리까지 출력한다.

0.1

In [ ]:
# 전후위 연산자가 없습니다.

a = 10
++a
a++

# 비교연산

In [ ]:
5 =='5' # False

False

In [ ]:
# 유니코드 표준으로 앞글자를 계산한다.
print('apple' < 'banana') # 결과: True

True

In [ ]:
print('apple' < 'applee')

True

In [ ]:
print([10, 20, 30, 35] < [10, 20, 30, 405])

True

# 논리연산자

In [ ]:
# and, or, not
x = True   # 1
y = False  # 0

print(True and False) # False
print(True and True)  # True
print(True or False) # True
print(True or True)  # True

False
True
True
True

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
# if의 중첩은 and로 줄일 수 있다!
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(50):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
a = True
b = False

a and b and ccc and fff

False

In [ ]:
a = True
b = False

a or b or eee or ddd

True

In [ ]:


a = True
b = False
c = False

a or b and ggg

True

In [ ]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

In [ ]:
# 단락회로평가

a = 'world'
b = ''

a or b

'world'

In [ ]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [ ]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username

'licat'

In [ ]:
# result = functionA() or functionB()
# 앞에 값이 None이나 0이 아니라면 뒤에 값으로 result를 만들겠다는 얘기입니다.

# 할당연산

In [ ]:
 x = 10
 y = 20

In [ ]:
x += 1

In [ ]:
x += 1
x -= 1

In [ ]:
x /= 1
x //= 1
x %= 1

# id 연산자, is 연산자, is not 연산자

In [ ]:
coffee = "Brand"
orange = "Brand"

print(coffee is orange)
print(coffee == orange)

True
True

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [ ]:
5 or 3

5

# in 구문

In [ ]:
#in는 is not이고 in은 not in입니다..
10 in [10, 20, 30]

True

In [ ]:
'h' in 'hello world'

True

In [ ]:
'world' in 'hello world'

True

In [ ]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
#{'key1':'value1'} in a # error

False

In [ ]:
'value1' in a.values()

True

# 연산자 우선순위

In [ ]:
-2 ** 2

-4

In [ ]:
True * True and True + False
#(True * True) and (True + False)

1

In [ ]:
a = 10
a *= 10 + 100
a

1100

In [ ]:
# a가 30이 될 것 같지만
# 오류가 나는 문법입니다.
a = 10
#a = a += 20

# 연산자

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

# 함수

In [ ]:
#들여쓰기
def printnum(): #함수의 정의
    print('1')
    print('2')
    print('3')
printnum() #함수의 호출

<function printnum at 0x7d3e05367640>

In [ ]:
# 함수의 죨료 구분은 들여쓰기 기준이며
# return으로도 구분이 됩니다.

def printnum():
    print('1')
    print('2')
print('3')
print(printnum())

3
1
2
None

In [ ]:
# 물데네전세표응
# 파선아실
# 파라미터는 선언할때
# 아규먼트는 실행할때
def function(x, y):
    z = x + y
    return z
print('function(5, 7)=', function(5, 7))

function(5, 7)= 12

In [ ]:
# 함수 안에 함수
def f():
    def ff():
        return 100
    x = ff()
    return x

f()
#ff() # 함수내보에서 선언한 변수와 함수 내부에서 선언된 함수는 밖에서 호출할 수 없습니다.

100

In [ ]:
# 함수를 아규먼트로 전달
def f(a, b):
    return a + b

def ff(a):
    return a(10, 20)

ff(f)

30

In [ ]:
# def f():
#     pass

# def f():
#     pass
#     return None

def f():
    pass #pass는 종료가 아니라 없는 것으로 취급합니다.
    print(10)

f()

10

In [ ]:
# 이게 error기 때문에 pass를 사용합니다.
# def hit():

def move():
    pass

def heal():
    pass

In [ ]:
# return을 사용해도 되는데 왜 pass죠?
#pass를 사용했을 때 나중에 개발될 것이라는 표시를 해놓는 것과 같습니다.
#글자수도 2자가 더 짧고 타이핑이 빠르다.

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

In [ ]:
# 기본값이 없는 것들은 앞에 배치해야 합니다!
def f(a=10, b=20, c): # 이 코드는 가능하지 않습니다.
    print(a, b, c)

def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

In [ ]:
def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

# f() # error
# f(100, 10)
# f(a=100, b=200, c=300)
# f(c=300, a=100, b=200)
# f(c=300) # error

##지역변수와 전역변수

In [ ]:
#지역변수오 전역변수
def f():
    inner_value = 100

print(inner_value)

In [ ]:
x = 100
def f():
    print(x)

f()

100

In [ ]:
x = 100
def f():
    y = x + x
    return y

f()

200

In [ ]:
# global 사용후 / 이런게 있다고만 알고 지나가도 된다.
a = 100
def f():
    global a
    #a = a + 1 / 에러
    b = a + 1# 이건 실행됨
f()

In [ ]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a
            a = 10000
            print(a)
        fff()
    ff()
f()
print(a)

In [ ]:
# global을 사용하지 않고 중첩된 함수 내에서 a를 출력하게 되면 바로 위 함수의 a를 출력합니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            print(a)
        fff()
    ff()
f()
print(a)

In [ ]:
# nonlocal
a = 10
def f():
    a = 100
    print(f'f a: {a}') #
    def ff():
        a = 1000
        print(f'ff a: {a}') #
        def fff():
            nonlocal a
            a = 100
            print(f'fff a: {a}') #
        fff()
        print(f'ff a: {a}') #
    ff()
f()
print(f'global a: {a}') #

f a: 100
ff a: 1000
fff a: 100
ff a: 100
global a: 10

##재귀함수

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행하지 마세요! 저만 실행합니다!
def 숫자출력():
    print(1)
#    return 숫자출력()
숫자출력()

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

In [ ]:
# 재귀함수는 사용하지 마세요!
# 아직은 실력에 비해 위험하고 효율이 조지 않습니다.
# 반복문 <-> 재귀는 서로 상호 호환이 가능합니다.
# 반복문을 사용하세요.

In [ ]:
# 상식 수준에서 다음재귀는 외우셨으면 좋겠습니다.
# 1. 팩토리얼
# 2. 문자열 뒤집기

In [ ]:
# 펙토리얼 / 상식 같은 코드. 암기해두자.
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n-1)

factorial(5)
'''
함수 호출       return
factorial(n)    n * factorial(n-1)
factorial(5)    5 * factorial(4)
factorial(4)    4 * factorial(3)
factorial(3)    3 * factorial(2)
factorial(2)    2 * factorial(1)
factorial(1)    1
'''

120

In [ ]:
s = 'hello world'
print(s[1:] + s[0])
s = s[1:]

print(s[1:] + s[0])
s = s[1:]

print(s[1:] + s[0])
s = s[1:]

print(s[1:] + s[0])
s = s[1:]

ello worldh
llo worlde
lo worldl
o worldl

In [ ]:
# 문자열 뒤집기 / 상식 같은 코드. 암기해두자.

def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]

reversed_str('hello')

'''
함수 호출               return
reversed_str(n)         reversed_str(s[1:]) + s[0]
reversed_str('hello')   reversed_str(s[ello]) + 'h' == 'olle' + 'h'
reversed_str(ello)      reversed_str(s[llo]) + 'l'  == 'oll' + 'e'
reversed_str(llo)       reversed_str(s[lo]) + 'l'   == 'ol' + 'l'
reversed_str(lo)        reversed_str(s[o]) + 'o'    == 'o' + 'l'
reversed_str(o)         'o'                         == 'o'
'''

'olleh'

In [ ]:
# 반복문을 아직 안배웠지만 간단하게 된다는 것을 보여드리기 위함입니다!
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [ ]:
# 반복문을 아직 안배웠지만 간단하게 된다는 것을 보여드리기 위함입니다!
s = 'hello'
result = ''

for i in s:
    result = i + result
    print(result)

result

h
eh
leh
lleh
olleh

'olleh'

# 함수 나아가기

In [ ]:
# 이게 되네
'hello world'\
        .upper()\
        .replace(' ', '')\
        .lower()

'helloworld'

In [ ]:
# 여러개의 값 반환하기

def f():
    a = 10
    b = 20
    c = 30
    return a, b, c

f()

(10, 20, 30)

In [ ]:
print() # built-in function

def f(): # function
    pass

# 여기서 print와 f는 변수입니다.
# 변수는 가리키는 것입니다.
leehojun = print
leehojun('hello world')

hello world

In [ ]:
# 변수처럼 아래처럼 관리할 수 있습니다.
x = 10
y = 20
l = [x, y]

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

ll = [add, sub]
ll[0](10,  20) # add(10, 20)과 같습니다.

30

In [ ]:
# 매우 중요!
# lambda는 한줄로 함수를 실행하고 싶을때 쓰는 문장
# lambda 파라미터: return값

add2 = lambda x, y:x + y
sub2 = lambda x, y:x + y
add2(10, 20)

30

In [ ]:
x = map(int, '1234')

for i in x:
    print(i)

for i in x:
    print(i)

1
2
3
4

In [ ]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')

In [ ]:
list(map(int, '1234'))

[1, 2, 3, 4]

In [ ]:
def f(x):
    return x * 2

list(map(f, '1234'))

['11', '22', '33', '44']

In [ ]:
# 위 코드와 동일하게 움직인다.
list(map(lambda x:x*2, '1234'))

['11', '22', '33', '44']

## 이 시점에서 알고 있어야 하는 중요한 함수

In [ ]:
# 강사님이 뽑아주신 중요한 함수?들
all
any

chr
ord

map
filter
zip

format

len

max
min
sum

repr
print

enumerate
range

reversed
sorted

In [ ]:
all([True, True, True])
all([True, True, False])
all([1, 1, 1, 0])
all([1, 1, 1, 0])
all([1, 100, 10, -1])

True

In [ ]:
# 하나라도 True이면 True이다.
any([True, False, False])
any([False, False, False])

False

In [ ]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) # 대문자
chr(97) # 소문자

'a'

In [ ]:
# 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a') # 97
ord('하')

54616

In [ ]:
# 유니코드 표에서 값 확인
int('D558', 16)

54616

In [ ]:
map(lambda x: x**2, [1,2,3,4]) # 계산되기 전 object

In [ ]:
list(map(lambda x: x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
list(filter(lambda x: x>10,[1,2,11,12,9,6,13]))

[11, 12, 13]

In [ ]:
def filter_function(x):
    return x > 10

list(filter(filter_function, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [ ]:
list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [ ]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide

# 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

s=[1, 3, 4, 8, 13, 17, 20]
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])[0] # 정답 코드

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
# function zip(a, b){
#     return a.map((v, i) => [v, b[i]])
# }
# zip를 직접 만들어서 사용할때

In [ ]:
format(1000000000, ',')

'1,000,000,000'

In [ ]:
len('hello world')

11

In [ ]:
max([1, 2, 3, 4, 5])

5

In [ ]:
min([1, 2, 3, 4, 5])

1

In [ ]:
sum([1, 2, 3, 4, 5])

15

In [ ]:
max([(1,2),(3, 101), (1, 20), (3, 100)])
max(['hello', 'world', 'world1'])

'world1'

In [ ]:
sum([1, 2, 3], 10)

16

In [ ]:
sum([[1, 2], [3, 101], [1, 20], [3, 100]], [])

[1, 2, 3, 101, 1, 20, 3, 100]

In [ ]:
[] + [1, 2]
[1, 2] + [3, 101]
[1, 2, 3, 101] + [1, 20]
[1, 2, 3, 101, 1, 20] + [3, 100]

[1, 2, 3, 101, 1, 20, 3, 100]

In [ ]:
sum([[1, 2], [3, 101], [1, 20], [3, 100]]) #numpy나 pandas 사용하셔야 합니다.

In [ ]:
class Charactor():
    der __str__(scn)
    return 'world'

hero = Charactor()
print(hero)
hero

In [ ]:
repr(hero)

In [ ]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
print(list(enumerate(가수)))
print(list(enumerate(가수, 1)))
print(list(enumerate(가수, 100)))

for i, j in enumerate(가수, 1):
    print(i, j)

[(0, '뉴진스'), (1, '르세라핌'), (2, '에스파'), (3, '아이브')]
[(1, '뉴진스'), (2, '르세라핌'), (3, '에스파'), (4, '아이브')]
[(100, '뉴진스'), (101, '르세라핌'), (102, '에스파'), (103, '아이브')]
1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [ ]:
type(print)

builtin_function_or_method

In [ ]:
type()

In [ ]:
type(map)

type

In [ ]:
type(filter)

type

In [ ]:
type(int)

type

In [ ]:
type(str)

type

In [ ]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10)) # 값을 가지고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(10, 0, 2.1))) # error, numpy 모듈 사용하면 가능합니다.
# print(list(range(10.1, 2.0, 2))) # error, numpy 모듈 사용하면 가능합니다.
print(list(range(0, 10, -2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]
[10, 8, 6, 4, 2]
[]

In [ ]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10)) # 출력: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(100000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 때문에 메모리 낭비가 전혀 없습니다.

# 2.x에서도 3.x와 같은 range타입이 있었습니다. xrange문법입니다. xrange문법이 3.x되면서 range가 된겁니다.
# 2.x에서 사용가능 문법
# print(xrange(10)) # 출력: xrange(10)
# for i in xrange(10): # 출력: 순회 가능
#     print(i)

In [ ]:
list(reversed('hello world'))
list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아닙니다! 역순입니다.

[4, 5, 10, 3, 2, 1]

In [ ]:
list(reversed(sorted([1, 2, 3, 10, 5, 4])))

[10, 5, 4, 3, 2, 1]

In [ ]:
# 매우 중요합니다.
# 알고리즘 문제에 단골 built-in function
sorted([1, 2, 100, 200, 3, 4, 10, 20])

[1, 2, 3, 4, 10, 20, 100, 200]

In [ ]:
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)

[200, 100, 20, 10, 4, 3, 2, 1]

In [ ]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])
['a', 'hel', 'hello', 'heo', 'hllo', 'l']

# 문자열의 길이만큼 정렬되게 하고 싶다
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
['a', 'hel', 'hello', 'heo', 'hllo', 'l']
# 위 코드는 sorted([5, 1, 4, 3, 3, 1])와 같습니다.

['a', 'hel', 'hello', 'heo', 'hllo', 'l']

In [ ]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [ ]:
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [4, 'hello w', 31],
    [5, 'hello wo', 35],
    [6, 'hello w', 39]
    ]

sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)
# 1번째 문제: 첫번째 요소의 값을 정렬하세요.
sorted(data)

# 2번째 문제: 두번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x:len(x[1]))
# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같습니다.
#다만 숫자 값으로 반환하는 것이 아니라 object로 반환하죠.

# 3번째 문제: 세번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제: 첫번째 요소와 세번째 요소의 차가 큰 순으로 출력해주세요.
# 예를 들어 [2, 'hello world', 30]의 경우 30 - 2 == 28 입니다.
# 이런 차 순서대로 출력하시면 됩니다.
sorted(data, key=lambda x:x[2] - x[0], reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

# 연습문제

In [ ]:
# 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.

x = 3
y = 5

result =  (isinstance(x, int) and isinstance(y, int)) and x + y  # 여기에
result # 8이 출력되어야 합니다.

8

In [ ]:
# 2. 문제
# 다음 출력값은 무엇일까요? 왜 그러한가요?

print('hello' < 'hell o')
#false 유니코드에 비교하여 계산을 실행한다. ' '은 l보다 값이 작기때문에 틀렸다.
print([10, 20, 30] < [10, 19, 100])
#false 리스트도 순서대로 비교하여 처리하기에 20보다 19가 작으므로 틀렸다.
print(10 % 3.3 == 0.1)
#false 부동소수점 계산은 값이 정확하게 떨어지지 않기에 0.1보다 큰 값으로 나온다.

False
False
False

In [ ]:
from os import scandir
# 3. 문제
# 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.

email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

emails = [email2, email3, email4, email5]

for email in emails:
    print(email.split('@')[1].split('.')[0])

gmail
naver
weniv
weniv

In [ ]:
# 배우신 분들
# 그리디 알고리즘입니다.
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었습니다. 거스름돈을 가장 적게 줄 수 있는 코드를 작성하세요.

거스름돈 = 10000 - 1500
print(거스름돈 // 5000, '5000원')
거스름돈 = 거스름돈 % 5000

print(거스름돈 // 1000, '1000원')
거스름돈 = 거스름돈 % 1000

print(거스름돈 // 500, '500원')
거스름돈 = 거스름돈 % 500

print(거스름돈 // 100, '100원')
거스름돈 = 거스름돈 % 100

In [ ]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.

a = 2
b = 3
def nm(a=0, b=0):
    return (a + b) * (a - b)

nm(a, b)





# (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
# 조건1: a가 입력되지 않으면 0이 입력됩니다.
# 조건2: b가 입력되지 않으면 0이 입력됩니다.

In [ ]:
a = 2
b = 3

def multiple (x=0, y=0):
    return x * y

def plus (x=0, y=0):
    return x + y

def minus (x=0, y=0):
    return x - y

multiple(plus(a,b), minus(a,b))