# 09/12

## 문제 1

다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면 True를, 아니면 False를 반환해야 합니다.

In [ ]:
N = 0

def is_palindrome(s):
    global N
    n = N
    if s[0 + n] == s[-1-n]:
        N += 1
        if n >= len(s) - n:
            return True
        return is_palindrome(s)

    return False

# def is_palindrome(s):
#     return s == s[::-1]


print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python")) # 결과: False

True
False

## 문제 2

리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

In [ ]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
# 여기에 코드를 작성하세요.

numbers = list(filter(lambda x: x%2 != 0, numbers))

print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

# 09/13

## 문제 1

In [ ]:
# 주어진 리스트
# data = [{"이름": "길동", "수학": 3, "과학": 93},
#         {"이름": "춘향", "수학": 33, "과학": 11},
#         {"이름": "철수", "수학": 94, "과학": 67}]
# 에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

data = [{"이름": "길동", "수학": 3, "과학": 93},
        {"이름": "춘향", "수학": 33, "과학": 11},
        {"이름": "철수", "수학": 94, "과학": 67}]


winner = max(data, key=lambda x:(x['수학']+x['과학'])).get('이름')
print(winner)

철수

In [ ]:
data = [
    {"이름": "길동", "수학": 3, "과학": 93},
    {"이름": "춘향", "수학": 33, "과학": 11},
    {"이름": "철수", "수학": 94, "과학": 67}
]
max_entry = max(data, key=lambda x: x["수학"]+x["과학"])
print(max_entry)
print(max_entry["이름"])

{'이름': '철수', '수학': 94, '과학': 67}
철수

## 문제 2

In [ ]:
# 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의
# 모든 값을 5점씩 증가시키고 결과를 출력하세요.

grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
l = {x[0]:x[1]+5 for x in grades.items()}
print(l)


# grades.update({'Tom': grades.get('Tom', 0) + 5})
# grades.update({'Jerry': grades.get('Jerry', 0) + 5})
# grades.update({'Mickey': grades.get('Mickey', 0) + 5})
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)
#updated_grades = {name: scorre + 5 for name, score in grades.items()}
#print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

## 문제 3

In [ ]:
# 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
#가장 자주 등장하는 단어를 출력하세요.

s = "apple banana apple cherry banana cherry apple"

wind = s.split()
print(max(wind, key= lambda x: wind.count(x)))

apple

In [ ]:
s = "apple banana apple cherry banana cherry apple"
s.split()

['apple', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']

In [ ]:
s = "apple banana apple cherry banana cherry apple"
words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

apple

In [ ]:
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
Counter(s.split())

Counter({'apple': 3, 'banana': 2, 'cherry': 2})

In [ ]:
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
result = Counter(s.split())
result.most_common()
result.most_common(1)

[('apple', 3)]

#09/14

In [ ]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]

## 문제 1

In [ ]:
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''

# gender = list(map(lambda x:x['gender'], data))
# x = (n := 10) * 2
# print(x)  # 출력: 20
# print(n)  # 출력: 10

gage = list(map(lambda x: {"gender": x["gender"], "age": x["age"]}, data))
gage

[{'gender': '여성', 'age': '43'},
 {'gender': '남성', 'age': '22'},
 {'gender': '남성', 'age': '31'}]

## 문제 2

In [ ]:
from string import capwords
# 문제 2
# User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

class User: # 차에 설계 도면 또는 차 공장입니다. => 클래스
    def __init__(self, data):
        self._id = data['_id']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']

# i = 0
# for x in data:
#     i += 1
#     (user_i := User(x))

In [ ]:
# 우리 수업에서 Djang에서 사용ㄷ
user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])

user_list = [user_1, user_2, user_3]
user_list[0].name
for i in user_list:
    print(i.name)

나주헌
엄루다
형유환

In [ ]:
class User:
    def __init__(self, _id, index, name, gender, age):
        self._id = _id
        self.index = index
        self.name = name
        self.gender = gender
        self.age = age

    def __repr__(self):
        return f'user_{self.index}'

users = [User(**x) for x in data]
print(users)
users[0].name

In [ ]:
#
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

## 문제 3

In [ ]:
# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.


class BankAccount:
    owner = str
    balance = int

# 09/18

## 문제 1

In [ ]:
# 문제 1:
# 동물 클래스 Animal을 만들어주세요. Dog와 Cat 클래스를 각각 정의하십시오.

# Animal 클래스는 name 속성을 가집니다. 이 클래스는 make_sound 메서드를 갖고 있습니다.

# Dog와 Cat 클래스는 Animal 클래스를 상속받는 클래스입니다.Dog 클래스의 make_sound 메서드는 "멍멍!"을
# Cat 클래스의 make_sound 메서드는 "야옹!"을 출력하도록 재정의하세요.

# * 더 완성도 높은 클래스를 만들어보세요. 추가 속성이나 메서드 작성 가능합니다.

In [ ]:
class Animal:
    sound = '동물을 등록해주세요.'

    def make_sound(self, sound):
        print(sound)

class Dog(Animal):

    def make_sound(self):
        print('멍멍!')

class Cat(Animal):

    def make_sound(self):
        print('야옹!')

cat = Cat()
cat.make_sound()

야옹

## 문제 2

In [ ]:
# 문제 2:
# Person이라는 기본 클래스를 만들어주세요.
# Person 클래스는 `이름`과 `나이`라는 두 개의 속성과 `소개하기`라는 메서드를 가지며
# 이 메서드는 "Hello World!, 제 이름은 [이름]이고 제 나이는 [나이]살 입니다."라는 메시지를 출력합니다.

# Person 클래스를 상속받는 Student 클래스를 정의하십시오.
# Student 클래스는 추가적으로 `학년` 속성을 가집니다.
# Student 클래스에서 `소개하기` 메서드를 오버라이드하여
# "Hello World!, 제 이름은 [이름]이고 제 나이는 [나이]살 입니다. 그리고 저는 [학년]학년입니다. "
# 라는 메시지를 출력하도록 만드세요.

In [ ]:
class Person:
    이름 = ' '
    나이 = 0

    def __init__(self, name, age):
        self.이름 = name
        self.나이 = age

    def Introducing(self):
        print(f'Hello World!, 제 이름은 {self.이름}이고 제 나이는 {self.나이}살 입니다.')


class Student(Person):
    학년 = 1

    def __init__(self, name, age, grade):
        self.이름 = name
        self.나이 = age
        self.학년 = grade


    def Introducing(self):
        print(f'Hello World!, 제 이름은 {self.이름}이고 제 나이는 {self.나이}살 입니다. 그리고 저는 {self.학년}학년입니다.')

a = Student('노리', 4, 3)
a.Introducing()

Hello World!, 제 이름은 노리이고 제 나이는 4살 입니다. 그리고 저는 3학년입니다.

# 09/19

## 문제 1(라운지 쓰레드)

In [ ]:
# 두 수를 나누는 함수 div(a, b)가 있었을 때
# b에 0이 입력되면 예외처리를 하여 정상작동이 되는 함수로 작성을 해주세요.

def div(a, b):
    try:
        Div = a / b
    except:
        print('오류가 발생했습니다.')
    else:
        print( int(Div))


div(3, 0)

오류가 발생했습니다.

## 문제 2(class 쓰레드)

In [ ]:
# 하나의 숫자에 제곱근을 구하는 함수 sqrt_number(num)이 있었을 때
# 자체 예외 NegativeNumberError를 정의하세요. 이 예외는 음수가 입력될 때 발생하도록 합니다.
# 사용자로부터 숫자를 입력 받아 그 숫자의 제곱근을 반환하는 함수를 작성하세요.
# 입력된 숫자가 음수이면 NegativeNumberError를 발생시키고
# "음수의 제곱근은 계산할 수 없습니다."라는 메시지를 출력하세요.

class NegativeNumberError(Exception):

    def __init__(self):
        super().__init__('음수의 제곱근은 계산할 수 없습니다.')

def sqrt_number(num):
    if num < 0:
        raise NegativeNumberError()

    elif num == 0:
        raise ValueError('0을 입력하셨습니다.')

    else:
        num **= num
        return num

num = int(input('제곱할 수를 입력하세요: '))
sqrt_number(num)

제곱할 수를 입력하세요: 3

27

## 문제3(class 쓰레드)

In [ ]:
# 사용자로부터 인덱스 값을 입력 받아서 리스트 ["apple", "banana", "cherry"]에서
# 해당 인덱스의 값을 출력하는 함수를 작성하세요.
# 사용자가 범위를 벗어난 인덱스를 입력하면 "리스트의 범위를 벗어났습니다."라는 메시지를 출력하세요.

list = ["apple", "banana", "cherry"]

try:
    print('apple: 0 / banana: 1 / cherry: 2')
    num = int(input('출력하고자 하는 인덱스의 값을 입력하세요: '))
    print(list[num])
except:
    print('리스트 범위를 벗어났습니다.')

apple: 0 / banana: 1 / cherry: 2
출력하고자 하는 인덱스의 값을 입력하세요: 5
리스트 범위를 벗어났습니다.

# 09/20

# 문제 1

In [ ]:
# 문제1
# 다음과 같이 동작하는 제너레이터 함수 fibonacci(n)를 완성하세요.
# 주어진 숫자 n까지의 피보나치 수열을 반환합니다.
# 인터넷에서 피보나치 순열 Python 코드를 검색해보셔도 좋습니다.

def fib(n):
    now, next = 1, 1
    for _ in range(n):
        yield now
        now, next = next, now + next

for i in fib(5):
    print(i)

1
1
2
3
5

In [ ]:
# 강사님

def fib(n):
    pre = 1
    next = 1
    count = 0
    while True:
        temp = pre + next
        yield pre
        pre, next = next, temp
        count += 1
        if count ==n:
            break

for i in fib(5):
    print(i)

In [ ]:
# value swap
# pre, next = next, temp
# 다른 언어의 경우 이렇게 표현된다.
temp = a
a = b
b = temp

# 문제 2

In [ ]:
# 문제2
# 주어진 함수의 실행 시간을 측정하여 출력하는 데코레이터 time_it를 작성하세요.
# (힌트: time 모듈의 time() 함수를 사용하세요.)
from time import time

def time_it(fibo):
    def wrapper(n):
        start = time()
        fibo(n)
        end = time()
        print(f'{end - start}초 걸렸습니다.')
        return fibo(n)
    return wrapper

@time_it
def fib(n):
    now, next = 1, 1
    for _ in range(n):
        yield now
        now, next = next, now + next

for i in fib(8):
    print(i)

1.6689300537109375e-06초 걸렸습니다.
1
1
2
3
5
8
13
21

In [ ]:
# 강사님
# 의도 fib()만으로는 실행이 안되니
# main으로 묶어서 실행시킨다.

import time

def time_it(func):
    def wrapper():
        start_time = time.time()
        func()
        end_time = time.time()
        print(f"{end_time - start_time:.4f}s")
    return wrapper

@time_it
def main():
    def fib(n):
        pre = 1
        next = 1
        count = 0
        while True:
            temp = pre + next
            yield pre
            pre, next = next, temp
            count += 1
            if count == n:
                break

    for i in fib(20):
        print(i)

main()

# 09/21

## 문제1

In [ ]:
# 과제2:
# student.csv에는 아래와 같은 텍스트가 담겨있습니다.
# '''
# 학년,반,번,이름,국어,영어,수학,사회
# 3,3,1,licat,90,80,30,40
# 3,3,2,mura,80,70,60,30
# 3,3,3,binky,30,80,70,30
# '''
# 학생들의 평균을 구해 아래와 같이 student.csv출력되게 해주세요
# (xx이라 표기된 곳에 평균 값이 들어가야 합니다.)
# '''
# 학년,반,번,이름,국어,영어,수학,사회,평균
# 3,3,1,licat,90,80,30,40,xx
# 3,3,2,mura,80,70,60,30,xx
# 3,3,3,binky,30,80,70,30,xx
# '''

In [ ]:
f = open('student.csv', 'w')
s = '''학년,반,번,이름,국어,영어,수학,사회
3,3,1,licat,90,80,30,40
3,3,2,mura,80,70,60,30
3,3,3,binky,30,80,70,30'''
f.write(s)
f.close()

s = ''
with open('student.csv', 'r') as f:
    lines = f.readlines()
    s += lines[0][:-1] + ',평균'
    for i in lines[1:]:
        data = i.split(',')
        s += f'\n{i.strip()},{sum(map(int, data[4:])) / 4}'

with open('student.csv', 'w') as f:
    f.write(s)

In [ ]:
f = open('student.csv', 'w')
s = '''학년,반,번,이름,국어,영어,수학,사회
3,3,1,licat,90,80,30,40
3,3,2,mura,80,70,60,30
3,3,3,binky,30,80,70,30'''
f.write(s)
f.close()


s = ''
with open('student.csv', 'r') as f:
    lines = f.readlines()
    s += lines[0][:-1] + ',평균'

['학년,반,번,이름,국어,영어,수학,사회\n', '3,3,1,licat,90,80,30,40\n', '3,3,2,mura,80,70,60,30\n', '3,3,3,binky,30,80,70,30']

# 09/22

## 문제 1

In [ ]:
# 문제1 https://www.paullab.co.kr/stock.html 서비스를 크롤링하여
# 제주코딩베이스캠프 연구원의 2019년 10월 총 거래량을 구해주세요.

In [ ]:
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')
# response.encoding = 'utf-8'
html = response.text
soup = BeautifulSoup(html, 'html.parser') # 원하는 문자열로 잘라줌

total= 0
data = soup.select('.table > tbody > tr')[1:16]

for x in data:
    if x.td == '2019.09.30':
        print(total)
        break

    total += int(x.select('td')[6].text.replace(',',''))

print(total)

10895826

## 문제2

In [ ]:
# 문제2 html에서 태그를 제거하고 텍스트만 뽑아낼 수 있도록 해주세요.
# '<p>This is a <em>simple</em> example.</p>'
from bs4 import BeautifulSoup

text = '<p>This is a <em>simple</em> example.</p>'
pull = BeautifulSoup(text, 'html.parser')

print(pull.text)

This is a simple example.

In [ ]:
# 강사님
print(re.sub('<[a-z/]+>','',s))

## 문제3

In [ ]:
# 문제3 아래 텍스트에서 이메일만 추출할 수 있는 정규표현식을 만들어주세요.
# '제 이메일 주소는 example1@gmail.com이고 회사 이메일 주소는 example2@gmail.com 입니다.
# example1로 연락을 주셨다면 제게 메시지 한 번 부탁드립니다.'

# 내 힘이 아님. 공부해라 닝겐
import re

email= '제 이메일 주소는 example1@gmail.com이고 회사 이메일 주소는 example2@gmail.com 입니다. example1로 연락을 주셨다면 제게 메시지 한 번 부탁드립니다.'

p = re.compile(r'[a-zA-Z0-9]+@+[a-zA-Z0-9]+.com')
p.findall(email)

['example1@gmail.com', 'example2@gmail.com']